.kanbanCard {
    width: 200px !important;
    transition: background-color 0.3s;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flexSpace {
    flex: 1;
}

.button {
    margin: 5px;
}

.addSeedButton {
    background-color: #1890ff;
}

.addItemButton {
    background-color: #52c41a;
}

.kanbanContainer {
    display: flex;
}

.columnContainer {
    margin: 8px;
    width: 220px !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.dragging {
    background-color: #e6f7ff;
}

.kanbanRowTitle{
    text-align: center;
}

.kanbanListItem{
    display: flex;
    justify-content: center;
    padding: 0px;
}