name: Cypress report generation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: "Installing Deps"
        run: |
          npm i -g serve pnpm
          pnpm i
      - name: "Prodcution Build"
        run: pnpm build
      - name: "Serve Prodcution Build"
        run: serve -s build -p 5173 &
      - name: "Cypress test"
        run: pnpm exec cypress install && pnpm cy:run
      - name: "Upload videos"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: videos
          path: |
            cypress/videos
